body{
    margin: 0%;
    padding: 0%;
    background: lavender;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


select{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background: gray;
    border: solid lavenderblush 2px;
    color: lavender;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    border-radius: 0%;
}

button{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background: gray;
    border: solid lavenderblush 2px;
    color: lavender;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 2.5rem;
    width: 5rem;
    font-size: 0.5rem;
    border-radius: 0%;
}
